/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 1, ../sass/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: white;
  border: 1px solid #C9441E;
  border-radius: 3px;
  color: #C9441E;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 23, ../sass/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #b53d1b;
  color: #fff;
}
/* line 29, ../sass/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 33, ../sass/base/_buttons.scss */
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #C9441E;
}

/* line 1, ../sass/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

/* line 8, ../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1em;
}

/* line 16, ../sass/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.375em;
}
/* line 20, ../sass/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../sass/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 43, ../sass/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #b1b1b1;
}
/* line 47, ../sass/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #65B4EE;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(78, 169, 235, 0.7);
  outline: none;
}
/* line 53, ../sass/base/_forms.scss */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple=multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 57, ../sass/base/_forms.scss */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 63, ../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 67, ../sass/base/_forms.scss */
input[type="search"] {
  appearance: none;
}

/* line 71, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}
/* line 76, ../sass/base/_forms.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

/* line 81, ../sass/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 86, ../sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../sass/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 16, ../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 21, ../sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../sass/base/_typography.scss */
body {
  color: #333;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, ../sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, ../sass/base/_typography.scss */
a {
  color: #65B4EE;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, ../sass/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #4c87b3;
}

/* line 36, ../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 44, ../sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 30, ../sass/screen.scss */
h2 {
  font-weight: bold;
  font-size: 1.75em;
}

/* line 36, ../sass/screen.scss */
body {
  background-color: #F1F1F1;
}

/* line 39, ../sass/screen.scss */
em {
  font-weight: bold;
}

/* line 42, ../sass/screen.scss */
.section-title {
  font-weight: 200;
  font-size: 2.25em;
  margin-top: 1em;
  padding-left: 1em;
  color: #525762;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}
@media screen and (min-width: 53.75em) {
  /* line 42, ../sass/screen.scss */
  .section-title {
    padding-left: 0;
  }
}

/* line 53, ../sass/screen.scss */
.resources-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.resources-container::after {
  clear: both;
  content: "";
  display: table;
}
/* line 57, ../sass/screen.scss */
.resources-container .resources-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  margin-top: 2em;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.resources-container .resources-content:last-child {
  margin-right: 0;
}
/* line 63, ../sass/screen.scss */
.resources-container .resources-content h2 {
  border-bottom: 1px solid #666;
  padding-bottom: 1em;
}

/* line 71, ../sass/screen.scss */
header.navigation {
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  min-height: 80px;
  width: 100%;
  z-index: 999;
}
@media screen and (min-width: 53.75em) {
  /* line 97, ../sass/screen.scss */
  header.navigation .primary {
    position: relative;
    top: 16px;
    left: -40px;
    padding: .75em;
    border: 1px solid #ddd;
  }
  /* line 104, ../sass/screen.scss */
  header.navigation .primary:hover {
    background-color: #C9441E;
    border: none;
    color: white;
  }
}
/* line 113, ../sass/screen.scss */
header.navigation button {
  position: relative;
  border: none;
  padding: 0;
  padding-right: 1em;
  float: left;
  left: -20px;
  margin-right: 20px;
  top: 30px;
  font-weight: 400;
  color: #333;
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 113, ../sass/screen.scss */
  header.navigation button {
    border-width: 1px;
    border-color: #ddd;
    font-weight: 400;
    left: 0px;
    margin-right: 0px;
  }
}
/* line 135, ../sass/screen.scss */
header.navigation button:hover {
  color: #C9441E;
  background-color: white;
}
@media (53.75em) {
  /* line 135, ../sass/screen.scss */
  header.navigation button:hover {
    color: white;
    border-color: #C9441E;
  }
}
/* line 147, ../sass/screen.scss */
header.navigation h3 {
  position: relative;
  top: 13px;
  color: #C9441E;
  font-weight: bold;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  font-size: 2em;
}
/* line 154, ../sass/screen.scss */
header.navigation h3 span {
  font-weight: 200;
  color: #333;
}
/* line 159, ../sass/screen.scss */
header.navigation .navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
/* line 166, ../sass/screen.scss */
header.navigation .logo {
  float: left;
  max-height: 80px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 172, ../sass/screen.scss */
header.navigation .logo img {
  max-height: 45px;
  padding: 0.8em 0;
}
/* line 180, ../sass/screen.scss */
header.navigation .navigation-menu-button {
  color: rgba(201, 68, 30, 0.9);
  display: block;
  float: right;
  line-height: 80px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 180, ../sass/screen.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 194, ../sass/screen.scss */
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}
/* line 202, ../sass/screen.scss */
header.navigation nav {
  float: left;
  min-height: 80px;
  z-index: 9999999;
  position: relative;
  left: 2.5em;
}
@media screen and (min-width: 53.75em) {
  /* line 202, ../sass/screen.scss */
  header.navigation nav {
    float: right;
  }
}
/* line 215, ../sass/screen.scss */
header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 224, ../sass/screen.scss */
header.navigation ul.navigation-menu.show {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 215, ../sass/screen.scss */
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 237, ../sass/screen.scss */
header.navigation ul li.nav-link {
  background: white;
  display: block;
  line-height: 80px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 237, ../sass/screen.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 80px;
    text-decoration: none;
    width: auto;
  }
}
/* line 255, ../sass/screen.scss */
header.navigation ul li.nav-link a {
  color: rgba(201, 68, 30, 0.9);
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 53.75em) {
  /* line 255, ../sass/screen.scss */
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 264, ../sass/screen.scss */
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}
/* line 271, ../sass/screen.scss */
header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}

/* line 280, ../sass/screen.scss */
#rent {
  background-color: #79BD63;
  padding: .75em 3.5em 2.5em 3.5em;
}
/* line 283, ../sass/screen.scss */
#rent h2 {
  color: #213b19;
  font-weight: 200;
}
/* line 287, ../sass/screen.scss */
#rent span {
  font-weight: 800;
}

/* line 291, ../sass/screen.scss */
.hero {
  background-color: #C9441E;
  background-size: cover;
  background-position: top;
  background-repeat: repeat-y;
}
/* line 300, ../sass/screen.scss */
.hero .divider-houses {
  position: relative;
  top: 15px;
}
/* line 304, ../sass/screen.scss */
.hero .hero-logo img {
  height: 6em;
  margin-bottom: 1em;
}
/* line 310, ../sass/screen.scss */
.hero .hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 3.5em 3.5em 0 3.5em;
  text-align: center;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.hero .hero-inner::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 53.75em) {
  /* line 310, ../sass/screen.scss */
  .hero .hero-inner {
    text-align: left;
    padding: 3.5em 3.5em 0 0;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 322, ../sass/screen.scss */
  .hero .hero-inner .hero-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    overflow: hidden;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .hero .hero-inner .hero-image:last-child {
    margin-right: 0;
  }
}
/* line 327, ../sass/screen.scss */
.hero .hero-inner .hero-image img {
  -webkit-animation: scale 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: scale 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: scale 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  max-width: 60%;
  margin-top: 2em;
}
@media screen and (min-width: 53.75em) {
  /* line 327, ../sass/screen.scss */
  .hero .hero-inner .hero-image img {
    max-width: 100%;
    margin-top: 0;
  }
}
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scale {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@keyframes scale {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 53.75em) {
  /* line 349, ../sass/screen.scss */
  .hero .hero-inner .resource-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    float: right;
    overflow: hidden;
    position: relative;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .hero .hero-inner .resource-image:last-child {
    margin-right: 0;
  }
  /* line 356, ../sass/screen.scss */
  .hero .hero-inner .resource-image img {
    max-width: 70%;
  }
}
/* line 369, ../sass/screen.scss */
.hero .hero-inner .hero-copy {
  text-align: left;
  padding-left: 2%;
}
@media screen and (min-width: 53.75em) {
  /* line 369, ../sass/screen.scss */
  .hero .hero-inner .hero-copy {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .hero .hero-inner .hero-copy:last-child {
    margin-right: 0;
  }
}
/* line 375, ../sass/screen.scss */
.hero .hero-inner .hero-copy #start {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 44px;
}
/* line 382, ../sass/screen.scss */
.hero .hero-inner .hero-copy #start:hover {
  color: #C9441E;
  width: 250px;
  top: -5px;
  height: 60px;
  background-color: white;
  box-shadow: 4px 2px 0px #9d3517;
}
/* line 392, ../sass/screen.scss */
.hero .hero-inner .hero-copy img {
  float: none;
  display: block;
  height: 6em;
}
@media screen and (min-width: 53.75em) {
  /* line 392, ../sass/screen.scss */
  .hero .hero-inner .hero-copy img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 12em;
    margin-bottom: 2em;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .hero .hero-inner .hero-copy img:last-child {
    margin-right: 0;
  }
}
/* line 402, ../sass/screen.scss */
.hero .hero-inner .hero-copy h1 {
  color: #ffbaa6;
  font-size: 2em;
  margin-bottom: 0.2em;
  font-weight: bold;
}
@media screen and (min-width: 53.75em) {
  /* line 402, ../sass/screen.scss */
  .hero .hero-inner .hero-copy h1 {
    font-size: 3em;
  }
}
/* line 411, ../sass/screen.scss */
.hero .hero-inner .hero-copy h1 span {
  color: white;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}
/* line 416, ../sass/screen.scss */
.hero .hero-inner .hero-copy h2 {
  color: #333;
  font-size: 2em;
  font-weight: bold;
}
/* line 423, ../sass/screen.scss */
.hero .hero-inner .hero-copy p {
  line-height: 1.4em;
  font-weight: 400;
  font-size: 1.4em;
  color: white;
}
@media screen and (min-width: 53.75em) {
  /* line 423, ../sass/screen.scss */
  .hero .hero-inner .hero-copy p {
    font-size: 1.4em;
    max-width: 100%;
    font-weight: 200;
  }
}

/* line 438, ../sass/screen.scss */
#close {
  float: right;
  color: #C9441E;
  cursor: pointer;
}

/* line 443, ../sass/screen.scss */
.cards {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 78em;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 5em;
  background-color: white;
  border-radius: 5px;
  display: none;
  position: relative;
  top: 35px;
  margin: 2% auto;
  margin-bottom: 2em;
  box-shadow: 1px 1px 6px #ddd;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.cards::after {
  clear: both;
  content: "";
  display: table;
}
/* line 458, ../sass/screen.scss */
.cards button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  top: 4em;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.cards button:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 458, ../sass/screen.scss */
  .cards button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    font-size: 1em;
    margin-right: 1%;
    clear: both;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .cards button:last-child {
    margin-right: 0;
  }
}
/* line 471, ../sass/screen.scss */
.cards #question {
  opacity: 1.0;
  position: relative;
  left: 20px;
}
/* line 477, ../sass/screen.scss */
.cards h2 {
  margin-top: 1em;
  font-size: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
/* line 484, ../sass/screen.scss */
.cards .card {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 3%;
  opacity: 0;
  position: relative;
  top: 400px;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.cards .card:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 484, ../sass/screen.scss */
  .cards .card {
    font-size: 1em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .cards .card:last-child {
    margin-right: 0;
  }
}
/* line 515, ../sass/screen.scss */
.cards .card .rent {
  background-color: #82c56a;
}
/* line 518, ../sass/screen.scss */
.cards .card .affordable {
  background-color: #6dcbdc;
}
/* line 521, ../sass/screen.scss */
.cards .card .eviction {
  background-color: #d48f6d;
}
/* line 524, ../sass/screen.scss */
.cards .card .elderly {
  background-color: #857dbb;
}
/* line 527, ../sass/screen.scss */
.cards .card .mortgage {
  background-color: #b67d7d;
}
/* line 530, ../sass/screen.scss */
.cards .card .utility {
  background-color: #dbd86e;
}
/* line 533, ../sass/screen.scss */
.cards .card .advice {
  background-color: #ba7fb2;
}
/* line 536, ../sass/screen.scss */
.cards .card .landlord {
  background-color: #d3b16d;
}
/* line 540, ../sass/screen.scss */
.cards .card .card-image {
  overflow: hidden;
  height: 200px;
  max-height: 200px;
}
/* line 545, ../sass/screen.scss */
.cards .card .card-image img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  transform: scale(0.7);
  position: relative;
  top: -40px;
}
/* line 557, ../sass/screen.scss */
.cards .card .card-header {
  font-size: 1em;
  text-align: center;
  color: #333;
  text-align: center;
  background-color: white;
  border-radius: 3px 3px 0 0;
  line-height: 1.5em;
  padding: 1em 0.75em;
}
/* line 572, ../sass/screen.scss */
.cards .card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
/* line 577, ../sass/screen.scss */
.cards .card .card-copy p {
  margin: 0 0 0.75em;
}
/* line 582, ../sass/screen.scss */
.cards .card:focus, .cards .card:hover {
  cursor: pointer;
}
/* line 586, ../sass/screen.scss */
.cards .card:focus img, .cards .card:hover img {
  opacity: 1;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* line 592, ../sass/screen.scss */
.cards .card:active {
  background-color: white;
}
/* line 595, ../sass/screen.scss */
.cards .card:active .card-header {
  background-color: white;
}

/* line 603, ../sass/screen.scss */
.testimonial {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 2px 2px 4px gainsboro;
  background-color: white;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.testimonial::after {
  clear: both;
  content: "";
  display: table;
}
/* line 612, ../sass/screen.scss */
.testimonial .img-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  width: 100%;
  background-color: #c8cbd1;
}
@media screen and (min-width: 53.75em) {
  /* line 612, ../sass/screen.scss */
  .testimonial .img-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .testimonial .img-container:last-child {
    margin-right: 0;
  }
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.testimonial .img-container:last-child {
  margin-right: 0;
}
/* line 621, ../sass/screen.scss */
.testimonial .text-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1.5em;
  color: #C9441E;
  height: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 621, ../sass/screen.scss */
  .testimonial .text-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .testimonial .text-container:last-child {
    margin-right: 0;
  }
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.testimonial .text-container:last-child {
  margin-right: 0;
}
/* line 629, ../sass/screen.scss */
.testimonial .text-container h2 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  font-weight: 200;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}
/* line 634, ../sass/screen.scss */
.testimonial .text-container .eduardo, .testimonial .text-container .christy {
  color: #525762;
  font-weight: 500;
  box-shadow: none;
}
/* line 640, ../sass/screen.scss */
.testimonial .quote-container {
  background-color: #f2f2f2;
  padding: 1.5em;
  border-radius: 5px;
}
/* line 644, ../sass/screen.scss */
.testimonial .quote-container h2 {
  font-size: 1.25em;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #838997;
}

/* line 657, ../sass/screen.scss */
.hero-containers {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.hero-containers::after {
  clear: both;
  content: "";
  display: table;
}
/* line 659, ../sass/screen.scss */
.hero-containers .success-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.hero-containers .success-container:last-child {
  margin-right: 0;
}

/* line 666, ../sass/screen.scss */
.hero-colored {
  min-height: 350px;
  background-color: #C9441E;
}
@media screen and (min-width: 53.75em) {
  /* line 666, ../sass/screen.scss */
  .hero-colored {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../sass/neat/grid/_span-columns.scss */
  .hero-colored:last-child {
    margin-right: 0;
  }
}
/* line 673, ../sass/screen.scss */
.hero-colored h2 {
  padding-top: 1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.95);
  font-weight: 200;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}
/* line 680, ../sass/screen.scss */
.hero-colored h3 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  font-size: 1.25em;
  color: #f5cabe;
  font-weight: 200;
}

/* line 687, ../sass/screen.scss */
.success-colored {
  background-color: #8CCB6B;
}
/* line 689, ../sass/screen.scss */
.success-colored h2 {
  padding-top: 1em;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.95);
  font-weight: 200;
  font-family: "Roboto Slab", "Helvetica", sans-serif;
}
/* line 696, ../sass/screen.scss */
.success-colored h3 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  font-size: 1.25em;
  color: #f5cabe;
  font-weight: 200;
}

/* line 703, ../sass/screen.scss */
.alt {
  background-color: #65B4EE;
  padding-bottom: 1em;
}
/* line 706, ../sass/screen.scss */
.alt h3 {
  color: white;
}
/* line 709, ../sass/screen.scss */
.alt button {
  font-size: .8em;
  color: #379ee9;
  border-color: #379ee9;
}
@media screen and (min-width: 53.75em) {
  /* line 709, ../sass/screen.scss */
  .alt button {
    font-size: 1em;
  }
}
/* line 716, ../sass/screen.scss */
.alt button:hover {
  background-color: #379ee9;
  color: white;
}

/* line 723, ../sass/screen.scss */
.secondary {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
  margin-top: 2em;
  border-radius: 5px;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.secondary::after {
  clear: both;
  content: "";
  display: table;
}
/* line 730, ../sass/screen.scss */
.secondary button {
  display: block;
  clear: both;
  margin-bottom: 1em;
}

/* line 743, ../sass/screen.scss */
.footer-2 {
  margin-top: 4em;
  background: #666;
  padding: 1.5em;
  width: 100%;
  display: inline-block;
}
/* line 758, ../sass/screen.scss */
.footer-2 .footer-logo {
  margin-right: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 758, ../sass/screen.scss */
  .footer-2 .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
/* line 768, ../sass/screen.scss */
.footer-2 .footer-logo img {
  height: 1.6em;
}
/* line 772, ../sass/screen.scss */
.footer-2 ul {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 772, ../sass/screen.scss */
  .footer-2 ul {
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
/* line 785, ../sass/screen.scss */
.footer-2 ul li {
  list-style: none;
  padding-right: 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 785, ../sass/screen.scss */
  .footer-2 ul li {
    display: inline;
    text-align: left;
  }
}
/* line 795, ../sass/screen.scss */
.footer-2 ul li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
/* line 799, ../sass/screen.scss */
.footer-2 ul li a:focus, .footer-2 ul li a:hover {
  color: white;
}
@media screen and (min-width: 53.75em) {
  /* line 805, ../sass/screen.scss */
  .footer-2 .footer-secondary-links {
    float: right;
  }
}
/* line 810, ../sass/screen.scss */
.footer-2 .footer-secondary-links li {
  font-size: 0.8em;
}
/* line 814, ../sass/screen.scss */
.footer-2 .footer-secondary-links ul.footer-social {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 53.75em) {
  /* line 814, ../sass/screen.scss */
  .footer-2 .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0;
  }
}
/* line 822, ../sass/screen.scss */
.footer-2 .footer-secondary-links ul.footer-social li {
  font-size: 1em;
  float: left;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
}
/* line 829, ../sass/screen.scss */
.footer-2 .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}
/* line 834, ../sass/screen.scss */
.footer-2 .footer-secondary-links ul.footer-social img {
  height: 1.6em;
  opacity: 0.7;
  padding: 1px;
}
/* line 839, ../sass/screen.scss */
.footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}

/* line 848, ../sass/screen.scss */
.accordion {
  background-color: white;
  border: 1px solid #ddd;
  margin: 0 0 2em 0;
  padding: 0;
}
/* line 872, ../sass/screen.scss */
.accordion ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.accordion ul::after {
  clear: both;
  content: "";
  display: table;
}
/* line 879, ../sass/screen.scss */
.accordion li {
  background-color: white;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 1em;
  padding-left: 3em;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.accordion li:last-child {
  margin-right: 0;
}
/* line 886, ../sass/screen.scss */
.accordion li > a {
  color: #1E87C9;
  display: block;
  padding: 0.75em 1.618em;
  text-decoration: none;
}
/* line 887, ../sass/screen.scss */
.accordion li > a:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 898, ../sass/screen.scss */
.accordion li:last-child {
  border: none;
}
/* line 902, ../sass/screen.scss */
.accordion li:focus, .accordion li:hover {
  background-color: white;
}
/* line 908, ../sass/screen.scss */
.accordion ul.submenu {
  display: none;
}
/* line 911, ../sass/screen.scss */
.accordion ul.submenu li {
  background-color: white;
}
/* line 926, ../sass/screen.scss */
.accordion .is-expanded {
  display: block;
  padding-bottom: 0;
}

/* line 931, ../sass/screen.scss */
.expander {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width: 60%;
}
/* line 946, ../sass/screen.scss */
.expander .expander-trigger {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-bottom: 1px solid #ddd;
  color: #65B4EE;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  text-decoration: none;
}
/* line 958, ../sass/screen.scss */
.expander .expander-trigger:before {
  font-size: 0.7em;
  content: "\25BC";
  margin-right: 0.5em;
}
/* line 965, ../sass/screen.scss */
.expander .expander-content p {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #333;
  line-height: 1.5;
}
/* line 972, ../sass/screen.scss */
.expander .expander-hidden:before {
  font-size: 0.7em;
  content: "\25BA";
}
/* line 978, ../sass/screen.scss */
.expander .expander-hidden + .expander-content {
  opacity: 0;
}

/* line 983, ../sass/screen.scss */
.modal {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 1em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.modal::after {
  clear: both;
  content: "";
  display: table;
}
/* line 1009, ../sass/screen.scss */
.modal label {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #1E87C9;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  padding: 1em;
  background-color: white;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  box-shadow: 2px 2px 2px #ddd;
}
/* line 89, ../sass/neat/grid/_span-columns.scss */
.modal label:last-child {
  margin-right: 0;
}
/* line 1019, ../sass/screen.scss */
.modal label:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 20px 20px 20px #ddd;
}
/* line 1025, ../sass/screen.scss */
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}
/* line 1031, ../sass/screen.scss */
.modal .modal-state {
  display: none;
}
/* line 1035, ../sass/screen.scss */
.modal .modal-trigger {
  padding: 0.8em 1em;
}
/* line 1039, ../sass/screen.scss */
.modal .modal-fade-screen {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999;
}
@media screen and (min-width: 53.75em) {
  /* line 1039, ../sass/screen.scss */
  .modal .modal-fade-screen {
    padding-top: 10em;
  }
}
/* line 1053, ../sass/screen.scss */
.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
/* line 1059, ../sass/screen.scss */
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer;
}
/* line 1065, ../sass/screen.scss */
.modal .modal-close:after, .modal .modal-close:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.15em;
  background: #ddd;
  content: '';
  display: block;
  margin: -3px 0 0 -1px;
}
/* line 1076, ../sass/screen.scss */
.modal .modal-close:hover:after, .modal .modal-close:hover:before {
  background: #c4c4c4;
}
/* line 1081, ../sass/screen.scss */
.modal .modal-close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 1086, ../sass/screen.scss */
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: #fff;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%;
}
@media screen and (min-width: 48.4375em) {
  /* line 1086, ../sass/screen.scss */
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 1086, ../sass/screen.scss */
  .modal .modal-inner {
    width: 50%;
  }
}
/* line 1108, ../sass/screen.scss */
.modal .modal-inner h1 {
  color: #333;
  margin-bottom: 0 0 0.6em 0;
  text-align: left;
  text-transform: capitalize;
}
/* line 1115, ../sass/screen.scss */
.modal .modal-inner p {
  color: #333;
  line-height: 1.5;
}
/* line 1120, ../sass/screen.scss */
.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}
/* line 1124, ../sass/screen.scss */
.modal .modal-inner .modal-content {
  color: #333;
}
@media screen and (min-width: 48.4375em) {
  /* line 1124, ../sass/screen.scss */
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em;
  }
}
/* line 1132, ../sass/screen.scss */
.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}
/* line 1138, ../sass/screen.scss */
.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}
/* line 1144, ../sass/screen.scss */
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}
/* line 1149, ../sass/screen.scss */
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

/* line 1154, ../sass/screen.scss */
.modal-open {
  overflow: hidden;
}
